:root {
    --cor-primaria: #284854;
    --cor-secundaria: #8BC441;
    --cor-btn: #4FEB4F;
    --cor-branco: white;
    --cor-preto: #000000
}

html, body {
    height: 100%; 
    margin: 0;
}

body {
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    overflow-x: hidden;
}
.configWrapper{
    background-color: var(--cor-primaria);
    height: 0;
}
.background-1 {
    background-color: var(--cor-primaria);
    height: 100vh;
    width: 100%;
}

.textoCentral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-inline: 10%;
    padding-top: 17%;
    max-height: 60%;
}

.titulo h1 {
    color: var(--cor-secundaria);
    font-size: 600%;
}

.subtitulo h2 {
    color: var(--cor-branco);
}

.imgCentralItem {
    width: 27vw;
    height: 50vh;
}

.background-2 {
    background-color: var(--cor-secundaria);
    height: 100vh;
    width: 100%;
    padding-left: 50px;
}

.textoCentralTela2 {
    display: flex;
    align-items: center;
    padding-top: 5vh;
}

.pt1 {
    color: var(--cor-primaria);
}

.pt2 {
    color: var(--cor-branco);
}

.subTexto {
    padding-top: 5vh;
}

.imgsTela2 {
    padding-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsTela2 .imgCentralItem{
    width: 25vw;
    height: 50vh;
}

.background-3 {
    height: 270vh;
    width: 100%;
}

.background-3 .textoCentral3 .titulo .comoFunciona {
    font-size: 75px;
}

.textoCentral3 {
    margin-left: 30vw;
    padding-top: 5%;
    padding-bottom: 80px;
}

.numeracaoContainer{
    display: flex;
    width: 40vw;
    margin-left: 20vw;
}
.numeracaoInstrucoes{
    opacity: 0.5;
}
.tituloInstrucoes{
    color: var(--cor-secundaria);
}
.textoInstrucoes{
    min-width: 40vw;
    color: var(--cor-preto);
}

.subTextoInstrucoes{
    padding-top: 15%;
}

.numeracaoContainer .img1 .imgCentralItem{
    margin: 2vw;
    width: 25vw;
}

.nossaMissao{
    padding-top: 5%;
    display: flex;
    width: 40vw;
    margin-left: 20vw;
}
.nossaMissao .img1 .imgCentralItem{
    margin: 2vw;
    width: 25vw;
}
.textoMissao{
    padding-top: 15%;
}

.background-4{
    background-color: var(--cor-secundaria);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-4 h1{
    margin: 30px;
}

/* responsividade */

@media (max-width: 1024px) {
    .textoCentral {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titulo h1 {
        font-size: 400%;
    }

    .imgCentralItem {
        margin-top: 20px;
        width: 40vw;
        height: 40vh;
        margin-bottom: 20px;
    }
    .img1{
        display: none;
    }
    .imgsTela2 .imgCentralItem:nth-child(n+2) {
        display: none;
    }
    .imgsTela2 .imgCentralItem{
        height: 40vh;
        width: 40vw;
    }
    .background-3 .textoCentral3 .titulo .comoFunciona {
        font-size: 250%;
        margin-top: 5vh;
    }
    .instrucoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numeracaoContainer{
        width: 70vw;
    }
    .textoCentral3{
        margin-left: 0;
        padding-bottom: 0;
    }
    .numeracaoContainer{
        display: flex;
        width: 80vw;
        margin-left: 0;
    }
    .nossaMissao{
        width: 80vw;
        margin-left: 0;
    }
    .background-3 {
        height: 150vh;
    }
    .configWrapper{
        height: 0;
    }
}

@media (max-width: 768px) {
    .textoCentral {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titulo h1 {
        font-size: 400%;
    }

    .imgCentralItem {
        margin-top: 20px;
        width: 50vw;
        height: 30vh;
    }

    .imgsTela2 {
        flex-direction: column;
        padding-top: 2vh;
    }
    
    .imgsTela2 .imgCentralItem{
        width: 70vw;
        height: auto;
    }

    .textoCentral3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}